.layout-swap {
  padding-top: 0 !important;
}

.layout-swap h1 {
	margin: 0;
}

.view-news .views-row {
  background: none;
  border: none;
  font-family:"Open Sans",Helvetica,Arial,sans-serif;
  color:#323232;
  font-size: 15px;
  padding-bottom: 4px;
  border-bottom: 1px solid #ccc;

}

.view-news .views-row h2 {
  margin-bottom: 0;
}

.view-news .views-row p {
  margin: 0;
}

.view-news .views-row .date-display-single {
	font-size: 13px;
}

.view-news .views-row h2 a {
  font-size: 24px;
  font-weight: bold;
  color: #111;
  text-decoration: none;
}

.view-news .views-row h2 a:hover {
	text-decoration: none;
	color: #0088aa;
}

.up-score, .down-score {
  float: left;

}

.views-field-title h2 {
  margin-top: 0;
}

.view-news img {
	max-width: 100%;
	margin-top:4px;
}

.view-news .article-source {
	background: #007EA7;
	padding: 2px 8px;
	display: inline-block;
	color: #fff;
	font-weight: bold;
}

#header div.section, #featured div.section, #messages div.section, #main, #triptych, #footer-columns, #footer {
    width: 90% !important;
}

.hide-flagged-row {
	display: none;
}